In [1]:
import pandas as pd

In [120]:
Qx = '19Q3'
data_dir = '../data/DepMap/'+Qx
fname_sg_efficacy = 'Achilles_guide_efficacy.csv'
fname_sg = 'Achilles_guide_map.csv'
fname_sg_dropped = 'Achilles_dropped_guides.csv'

In [117]:
df_sg = pd.read_csv(f"{data_dir}/{fname_sg}")
df_sg_dropped = pd.read_csv(f"{data_dir}/{fname_sg_dropped}")
df_sg_efficacy = pd.read_csv(f"{data_dir}/{fname_sg_efficacy}")
df_sg_efficacy.columns = ['sgrna', 'offset', 'efficacy']
df_sg_merged = df_sg.merge(df_sg_efficacy)

In [118]:
Lx = pd.read_csv('../out/19.1013 tight cluster/landmarks_n200_k200.csv')

In [119]:
df_sg_merged.head(3)

,sgrna,genome_alignment,gene,n_alignments,offset,efficacy
0,AAAAAAATCCAGCAATGCAG,chr10_110964620_+,SHOC2 (8036),1,-0.056751,0.999947
1,AAAAAACCCGTAGATAGCCT,chr12_95003615_+,NDUFA12 (55967),1,-0.902062,0.100587
2,AAAAAAGAAGAAAAAACCAG,chr4_75970356_-,SDAD1 (55153),1,0.448068,0.999881

In [109]:
df_sel = df_sg_merged[df_sg_merged.gene.isin(Lx.landmark)]

In [110]:
df_sel.head(3)

,sgrna,genome_alignment,gene,n_alignments,offset,efficacy
38,AAAAGAATAAGAAGAAAACG,chr8_145052807_+,C8orf33 (65265),1,-0.501050,0.785264
172,AAAGAGATAGCAGTGAACCA,chr3_48177958_-,CDC25A (993),1,0.250569,0.999868
262,AAATAGCTACGGTGAACCCG,chr12_32722527_+,DNM1L (10059),1,0.234568,0.992162

In [115]:
df_sel.to_csv(f'../out/21.018 sgRNAs/guides_L200_{Qx}.csv')

In [112]:
# number of landmark genes found in guide list
Lx.landmark[Lx.landmark.isin(df_sg_merged.gene)].nunique()

194

In [113]:
# landmark genes example found in guide list
Lx.landmark[Lx.landmark.isin(df_sg_merged.gene)].unique()[:3]

array(['MARS2 (92935)', 'NRAS (4893)', 'SDHAF1 (644096)'], dtype=object)

In [114]:
# landmark genes not found in guide list
Lx.landmark[~Lx.landmark.isin(df_sg_merged.gene)].unique()

array(['HIAT1 (64645)', 'ATP5I (521)', 'KIAA0907 (22889)',
       'FAM21C (253725)', 'KIAA1279 (26128)', 'PTPLB (201562)'],
      dtype=object)