## Double check on pie chart numbers.

Total number of unique target genes: 583

Below reports the unique target genes at different steps

**At analyze step**

model_results, aggRes, and varExp tables: 583

In a lot of the analyses (anlyz_varExp, etc) for pie charts, heatmaps, etc, univariate R2 <=0 are excluded, resulting in: 568

**At analyze filtered step**

Filter criteria: (1) score_test (R2 of reduced top10 model > 0.1), (2) and corr_test_recall (recall of reduced top10 model > 0.95)

model_results, aggRes, and varExp tables: 529

In a lot of the analyses (anlyz_varExp, etc) for pie charts, heatmaps, etc, univariate R2 <=0 are excluded, resulting in: 526

In [3]:
%load_ext autoreload
%autoreload 2

In [4]:
import pandas as pd
from ceres_infer.utils import getFeatGene, getFeatSource
from ceres_infer.analyses import generate_featSummary
import numpy as np

In [5]:
df = pd.read_csv('../out/20.0216 feat/reg_rf_boruta/model_results.csv')

In [6]:
df.head(3)

,model,feature,target,score_train,score_test,score_oob,corr_test,corr_test_recall,score_p19q4,corr_p19q4,corr_p19q4_recall,feat_id,feat_idx
0,all,all,FGFR1,0.629550,0.102785,0.096981,0.344408,0.998,NaN,NaN,NaN,NaN,NaN
1,topfeat,topfeat,FGFR1,0.728297,0.401316,0.462546,0.510498,0.999,NaN,NaN,NaN,NaN,NaN
2,top10feat,top10feat,FGFR1,0.707737,0.432236,0.487608,0.403751,1.000,0.505877,0.300472,0.986,NaN,NaN

## At analyze step

In [23]:
aggRes = pd.read_csv('../out/20.0216 feat/reg_rf_boruta/anlyz/agg_summary.csv')
aggRes.target.nunique()

583

In [24]:
varExp = pd.read_csv('../out/20.0216 feat/reg_rf_boruta/anlyz/feat_summary_varExp.csv')
varExp.target.nunique()

583

In [26]:
# after filtering out target genes were R2s of all top 10 feat univariate models are negative
varExp.loc[varExp.score_ind>0,:].target.nunique()

568

## At analyze filtered step

In [17]:
aggRes = pd.read_csv('../out/20.0216 feat/reg_rf_boruta/anlyz_filtered/agg_summary_filtered.csv')
aggRes.target.nunique()

529

In [19]:
varExp = pd.read_csv('../out/20.0216 feat/reg_rf_boruta/anlyz_filtered/feat_summary_varExp_filtered.csv')
varExp.target.nunique()

529

In [20]:
# Manual checks on the filter criteria
# top 10 feat model with R2 > params.thresholds.score_rd10 (0.1)
# top 10 feat model with recall > params.thresholds.recall_rd10 (0.95)

df2 = df[df.model == 'top10feat']
df2_filtered = df2[(df2.score_test > 0.1) & (df2.corr_test_recall > 0.95)]
df2_filtered.target.nunique()

529

In [21]:
varExp_filtered = varExp[varExp.target.isin(df2_filtered.target)]
varExp_filtered.target.nunique()

529

In [22]:
# after filtering out target genes were R2s of all top 10 feat univariate models are negative
varExp_filtered.loc[varExp_filtered.score_ind>0,:].target.nunique()

526